<center>
	<h1>Welcome to Nginx CI/CD Pipeline from Ilayarajan - Webhook testing</h1> 
	<h1>v3.0</h1>
	<br><hr>
	<p>Demo of Jenkins CI/CD Pipeline using BlueOcean and Kubernetes Continuous Deployment plugins</p> 

</center>
